<h1>{{nombre}}</h1>
    <form id="productForm">
        <label for="title">Title</label><input type="text" name="title" placeholder="Nombre del producto" required>
        <label for="description">Description</label><input type="text" name="description" placeholder="Descripción del producto" required>
        <label for="code">Code</label><input type="text" name="code" placeholder="abc123" required>
        <label for="price">Price</label><input type="number" name="price" placeholder="12345..." required><br>
        <label for="status">Status</label><input type="text" name="status" value="true" readonly>
        <label for="stock">Stock</label><input type="number" name="stock" placeholder="12345..." required>
        <label for="category">Category</label><input type="text" name="category" placeholder="Categoría del producto" required>
        <label for="thumbnails">Thumbnails</label><input type="text" name="thumbnails" value="./images/Without image" readonly><br>
        <button type="submit">Agregar Producto</button>
    </form>
<div id="list">
    {{#each productsList}}
            <p> <b>{{this.title}}</b> - - {{this.description}} - - {{this.code}} - - $ {{this.price}} + IVA - - {{this.status}} - - {{this.stock}} - - {{this.category}} - - {{this.thumbnails}}</p>
    {{/each}}
</div>



